[submodule "space-game-sql-database"]
	path = space-game-sql-database
	url = https://github.com/frenziedtalon/space-game-bablyonjs-sql-database.git
[submodule "jespers"]
	path = jespers
	url = https://github.com/frenziedtalon/jespers.git
